@page
@model MegaDesk3._0.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Desk Orders</h1>

<p>
    <a asp-page="Create">Create Desk Order</a>
</p>

<!--Search Form.-->
<form>
    <p>
         Order Date: <select asp-for="OrderDate" asp-items="Model.OrderDates">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].DeliveryType.DeliveryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].DesktopMaterial.DesktopMaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryType.DeliveryStringName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesktopMaterial.DesktopMaterialName)
            </td>
            <td>
                $
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DeskQuoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DeskQuoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DeskQuoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
